{% extends 'base.html.twig' %}

{% block body %}
  <div>
    <h1>Anonymous Gift</h1>
    <h2>Prochains évenements</h2>
    <ul>
    {% for event in events %}
        <li>
          <div>
            {{ event.name }} commence le {{ event.startdate |date("d/m/Y", false) }}
            <a href="{{ path('junk_gift_bundle_invite_event') }}">Inviter des amis</a>
            <a href="{{ path('junk_gift_bundle_repartir_event') }}">Répartir les cadeaux</a>
          </div>
        </li>

    {% endfor %}
    </ul>
  </div>
  <div>
    <a href="{{ path('junk_gift_bundle_create_event') }}">Créer un événement</a>
  </div>
{% endblock %}
