{% extends 'base.html.twig' %}

{% block body %}
  <div>
    <h1>Création d'un nouvel événement</h1>
    <p>
      Votre évènement a bien été créé.
      Partagez ce <a href="{{path('event_shared_url', {'shared_token' : event.sharedToken}, true)}}">lien</a> au près de vos amis pour les inviter à vous rejoindre.
    </p>
    <p>
      <h2>Inviter des amis</h2>
      Votre ami {{app.user.firstname}} {{app.user.lastname}}, vous invite à le rejoindre sur anonymous-gift.local en cliquant sur le lien suivant : <a href="{{path('event_shared_url', {'shared_token' : event.sharedToken}, true)}}">Lien</a>
      <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
      <div>
    </p>
  </div>
  <div>
    <a href="{{ path('junk_gift_bundle_app') }}">Home</a>
  </div>
{% endblock %}
